// Tokyonight Zellij Colors
// Add this file to your `CONFIG_DIR/themes` directory as described here:
// https://zellij.dev/documentation/themes#getting-zellij-to-pick-up-the-theme

themes {
    tokyonight_day {
        fg "#474747"
        bg "#c4c8da"
        // Black should match the terminal background color
        // This ensures the top and bottom bars are transparent
        black "#e1e2e7"
        red "#c50000"
        green "#8c7500"
        yellow "#4e4e00"
        blue "#2e7de9"
        magenta "#d20065"
        cyan "#006060"
        white "#6172b0"
        orange "#9e6400"
    }
}

