(
  selected_tab: Some("#ff007c"),
  command_fg: Some("#636da6"),
  selection_bg: Some("#2f334d"),
  selection_fg: Some("#00ffff"),
  cmdbar_bg: Some("#222436"),
  cmdbar_extra_lines_bg: Some("#222436"),
  disabled_fg: Some("#636da6"),
  diff_line_add: Some("#cdad00"),
  diff_line_delete: Some("#ff3c3c"),
  diff_file_added: Some("#00c0c0"),
  diff_file_removed: Some("#7f0000"),
  diff_file_moved: Some("#ff00ff"),
  diff_file_modified: Some("#ffff00"),
  commit_hash: Some("#ff007c"),
  commit_time: Some("#70f0e0"),
  commit_author: Some("#cdad00"),
  danger_fg: Some("#ff3c3c"),
  push_gauge_bg: Some("#222436"),
  push_gauge_fg: Some("#ffffff"),
  tag_fg: Some("#ff00ff"),
  branch_fg: Some("#ffff00")
)
