.theme-light,
.theme-dark {
  --header-primary: #474747;
  --header-secondary: #6172b0;
  --text-normal: #474747;
  --text-muted: #6172b0;
  --text-link: #2e7de9;
  --text-link-low-saturation: #006a83;
  --text-positive: #2b645d;
  --text-warning: #4e4e00;
  --text-danger: #cf0000;
  --text-brand: #2e7de9;
  --background-primary: #e1e2e7;
  --bg-base-primary: #e1e2e7;
  --background-secondary: #d2d3d7;
  --background-secondary-alt: #d2d3d7;
  --background-tertiary: #c4c5c9;
  --background-accent: #7890dd;
  --background-floating: #d2d3d7;
  --background-nested-floating: #d2d3d7;
  --background-mobile-primary: #e1e2e7;
  --background-mobile-secondary: #d2d3d7;
  --bg-base-secondary: #d2d3d7;
  --bg-surface-raised: #d2d3d7;
  --home-background: #e1e2e7;
  --chat-background: #e1e2e7;
  --chat-border: #c4c8da;
  --chat-input-container-background: #e1e2e7;
  --background-modifier-hover: #7b829b26;
  --background-modifier-selected: #7b829b32;
  --background-modifier-accent: #7b829b42;
  --background-modifier-active: #7b829b2B;
  --info-positive-background: #8c750026;
  --info-positive-foreground: #2b645d;
  --info-positive-text: #474747;
  --brand-500: #7890dd;
  --brand-560: #2e7de9;
  --info-warning-background: #4e4e0026;
  --info-warning-foreground: #4e4e00;
  --info-warning-text: #474747;
  --info-danger-background:#cf000026;
  --info-danger-foreground: #cf0000;
  --info-danger-text: #474747;
  --info-help-background: #006a8326;
  --info-help-foreground: #07879d;
  --info-help-text: #474747;
  --status-positive-background: #2b645d;
  --status-positive-text: #e1e2e7;
  --status-warning-background: #4e4e00;
  --status-warning-text: #e1e2e7;
  --status-danger-background: #cf0000;
  --status-danger-text: #e1e2e7;
  --status-danger: #cf0000;
  --status-positive: #2b645d;
  --status-warning: #4e4e00;
  --status-yellow-400: #4e4e00;
  --status-green-600: #2b645d;
  --primary-dark-600: #e1e2e7;
  --status-yellow-560: #4e4e00;
  --status-red-500: #cf0000;
  --status-red-530: #cf0000;
  --status-yellow-500: #4e4e00;
  --black-500: #c4c8da;
  --green-360: #2b645d;
  --yellow-360: #4e4e00;
  --yellow-300: #4e4e00;
  --red-400: #cf0000;
  --primary-100: #6d749c;
  --primary-300: #6d749c;
  --primary-400: #6d749c;
  --primary-dark-700: #c4c8da;
  --primary-800: #c4c8da;
  --status-green-560: #2b645d;
  --white-400: #474747;
  --white-500: #474747;
  --guild-boosting-pink: #d20065;
  --premium-perk-yellow: #4e4e00;
  --premium-perk-purple: #a02cff;
  --premium-perk-dark-blue: #2e7de9;
  --premium-perk-light-blue: #188092;
  --premium-perk-blue: #2e7de9;
  --premium-perk-green: #2b645d;
  --premium-perk-pink: ${pink};
  --premium-perk-orange: #9e6400;
  --status-green-400: #2b645d;
  --button-danger-background: #ff9d9d;
  --button-danger-background-hover: #cf0000;
  --button-danger-background-active: #006a83;
  --button-danger-background-disabled: #cf0000;
  --button-positive-background: #2b645d;
  --button-positive-background-hover: #008787;
  --button-positive-background-active: #009046;
  --button-positive-background-disabled: #2b645d;
  --button-secondary-background: #7b829b;
  --button-secondary-background-hover: #a8aecb;
  --button-secondary-background-active: #a8aecb;
  --button-secondary-background-disabled: #6d749c;
  --button-outline-danger-text: #474747;
  --button-outline-danger-border: #ff9d9d;
  --button-outline-danger-background: transparent;
  --button-outline-danger-background-hover: #cf0000;
  --button-outline-danger-text-hover: #e1e2e7;
  --button-outline-danger-border-hover: #cf0000;
  --button-outline-danger-background-active: #ff9d9d;
  --button-outline-danger-text-active: #e1e2e7;
  --button-outline-danger-border-active: #ff9d9d;
  --button-outline-positive-text: #474747;
  --button-outline-positive-border: #2b645d;
  --button-outline-positive-background: transparent;
  --button-outline-positive-background-hover: #8c7500;
  --button-outline-positive-text-hover: #e1e2e7;
  --button-outline-positive-border-hover: #8c7500;
  --button-outline-positive-background-active: #008787;
  --button-outline-positive-text-active: #e1e2e7;
  --button-outline-positive-border-active: #8c7500;
  --button-outline-brand-text: #474747;
  --button-outline-brand-border: #2e7de9;
  --button-outline-brand-background: transparent;
  --button-outline-brand-background-hover: #188092;
  --button-outline-brand-text-hover: #e1e2e7;
  --button-outline-brand-border-hover: #188092;
  --button-outline-brand-background-active: #2e7de9;
  --button-outline-brand-text-active: #e1e2e7;
  --button-outline-brand-border-active: #188092;
  --button-outline-primary-text: #474747;
  --button-outline-primary-border: #7b829b;
  --button-outline-primary-background: transparent;
  --button-outline-primary-background-hover: #7b829b;
  --button-outline-primary-text-hover: #e1e2e7;
  --button-outline-primary-border-hover: #7b829b;
  --button-outline-primary-background-active: #7b829b;
  --button-outline-primary-text-active: #e1e2e7;
  --button-outline-primary-border-active: #7b829b;
  --modal-background: #e1e2e7;
  --modal-footer-background: #c4c8da;
  --scrollbar-thin-thumb: #2e7de9;
  --scrollbar-thin-track: transparent;
  --scrollbar-auto-thumb: #2e7de9;
  --scrollbar-auto-track: #c4c8da;
  --scrollbar-auto-scrollbar-color-thumb: #2e7de9;
  --scrollbar-auto-scrollbar-color-track: #c4c8da;
  --input-background: #c4c8da;
  --input-placeholder-text: #6d749c;
  --logo-primary: #474747;
  --control-brand-foreground: #2e7de9;
  --control-brand-foreground-new: #2e7de9;
  --mention-foreground: #2e7de9;
  --mention-background: #a1a6c5;
  --background-mentioned: #4e4e0019;
  --background-mentioned-hover: #4e4e0014;
  --background-message-hover: #d2d3d73F;
  --background-message-automod: #d200650C;
  --background-message-automod-hover: #d2006519;
  --background-message-highlight: #2e7de914;
  --background-message-highlight-hover: #2e7de90F;
  --channels-default: #6172b0;
  --channel-icon: #2e7de999;
  --channel-text-area-placeholder: #7b829b7F;
  --channeltextarea-background: #d2d3d7;
  --activity-card-background: #c4c8da;
  --textbox-markdown-syntax: #474747;
  --spoiler-revealed-background: #c4c8da;
  --spoiler-hidden-background: #7880a0;
  --android-navigation-bar-background: #c4c8da;
  --android-ripple: #b4b5b94C;
  --bg-mod-faint: #d2d3d7;
  --bg-mod-subtle: #a1a6c5;
  --focus-primary: #2e7de9;
  --interactive-normal: #474747;
  --interactive-muted: #7b829b4C;
  --interactive-hover: #474747;
  --interactive-active: #474747;
  --search-popout-option-non-text-color: #6172b0;
  --__spoiler-background-color--hidden: #92a6d5;
  --__spoiler-warning-background-color: #a02cff;
}

div[class*="autocomplete_"] {
    background-color: #d2d3d7 !important;
}

div[class*="autocomplete_"]
div[class*="categoryHeader"] {
    background-color: #d2d3d7 !important;
}

rect[mask="url(#svg-mask-status-online)"] {
    fill: #009046;
}

rect[mask="url(#svg-mask-status-idle)"] {
    fill: #4e4e00;
}

rect[mask="url(#svg-mask-status-dnd)"] {
    fill: #ff9d9d;
}

rect[mask="url(#svg-mask-status-offline)"] {
    fill: #6d749c;
}

/* hljs */
/* stolen from https://github.com/x6r/dracula/blob/main/addons/hljs-styling.scss :D */
:root {
  /* ---- Default Colors -- */
  --background: var(--background-secondary);
  --text-default: #6172b0;
  --color-1: #cf0000;
  --color-2: #9e6400;
  --color-3: #4e4e00;
  --color-4: #8c7500;
  --color-5: #008787;
  --color-6: #2e5857;
  --color-7: #07879d;
  --color-8: #006060;
  --color-9: #2e7de9;
  --color-10: #d20065;
  --color-11: #474747;
  /* ---- HLJS Default -- */
  --hljs-attribute: var(--color-7);
  --hljs-nomarkup: var(--color-8);
  --hljs-variable: var(--color-11);
  --hljs-meta: var(--color-8);
  --hljs-meta-string: var(--color-4);
  --hljs-meta-keyword: var(--hljs-meta);
  --hljs-literal: var(--color-2);
  --hljs-section: var(--color-9);
  --hljs-number: var(--color-2);
  --hljs-name: var(--color-4);
  --hljs-selector-tag: var(--color-4);
  --hljs-selector-class: var(--color-9);
  --hljs-selector-attr: var(--color-7);
  --hljs-selector-pseudo: var(--color-7);
  --hljs-selector-id: var(--hljs-selector-class);
  --hljs-keyword: var(--color-10);
  --hljs-built_in: var(--color-3);
  --hljs-title: var(--color-9);
  --hljs-link: var(--color-5);
  --hljs-bullet: var(--color-10);
  --hljs-symbol: var(--color-1);
  --hljs-addition: var(--color-1);
  --hljs-deletion: var(--color-5);
  --hljs-attr: var(--color-2);
  --hljs-punctuation: var(--text-default);
  --hljs-regexp: var(--color-6);
  --hljs-type: var(--color-10);
  --hljs-operator: var(--color-10);
  --hljs-rest_arg: var(--text-default);
  --hljs-template-variable: var(--color-11);
  /* ---- HLJS Specific -- */
  /* --> Params */
  --hljs-params: var(--text-default);
  --hljs-params-attr: var(--hljs-params);
  /* --> Comment */
  --hljs-comment: #7880a0;
  --hljs-comment-doctag: var(--hljs-comment);
  /* --> String */
  --hljs-string: var(--color-4);
  --hljs-string-subst: var(--color-5);
  --hljs-string-template-variable: var(--color-2);
  /* --> Tag */
  --hljs-tag: var(--color-7);
  --hljs-tag-name: var(--color-10);
  --hljs-tag-attr: var(--color-5);
  /* --> Function */
  --hljs-function: var(--text-default);
  --hljs-function-keyword: var(--hljs-keyword);
  --hljs-function-title: var(--hljs-title);
  --hljs-function-params: var(--hljs-params);
  --hljs-function-literal: var(--hljs-literal);
  --hljs-function-operator: var(--hljs-operator);
  /* --> Class */
  --hljs-class: var(--text-default);
  --hljs-class-keyword: var(--color-6);
  --hljs-class-title: var(--color-7);
}

#app-mount .hljs {
  font-family: "JetBrainsMono Nerd Font", "JetBrains Mono", var(--font-code),
    monospace;
  background: var(--background-secondary);
  color: var(--text-normal);
  padding: 15px 20px;
  border-radius: 5px;
}

#app-mount .codeLine-3a3dbd {
  color: var(--text-default);
}

#app-mount .hljs-comment {
  color: var(--hljs-comment);
}

#app-mount .hljs-attribute {
  color: var(--hljs-attribute);
}

#app-mount .hljs-nomarkup {
  color: var(--hljs-nomarkup);
}

#app-mount .hljs-variable {
  color: var(--hljs-variable);
}

#app-mount .hljs-meta {
  color: var(--hljs-meta);
}

#app-mount .hljs-meta-string {
  color: var(--hljs-meta-string);
}

#app-mount .hljs-meta-keyword {
  color: var(--hljs-meta-keyword);
}

#app-mount .hljs-literal {
  color: var(--hljs-literal);
}

#app-mount .hljs-string {
  color: var(--hljs-string);
}

#app-mount .hljs-section {
  color: var(--hljs-section);
}

#app-mount .hljs-number {
  color: var(--hljs-number);
}

#app-mount .hljs-tag {
  color: var(--hljs-tag);
}

#app-mount .hljs-name {
  color: var(--hljs-name);
}

#app-mount .hljs-selector-tag {
  color: var(--hljs-selector-tag);
}

#app-mount .hljs-selector-class {
  color: var(--hljs-selector-class);
}

#app-mount .hljs-selector-attr {
  color: var(--hljs-selector-attr);
}

#app-mount .hljs-selector-pseudo {
  color: var(--hljs-selector-pseudo);
}

#app-mount :not(.hljs-function) > .hljs-keyword {
  color: var(--color10);
  font-style: italic;
}

#app-mount .hljs-function {
  color: var(--hljs-function);
}

#app-mount .hljs-built_in {
  color: var(--hljsbuilt_in);
}

#app-mount .hljs-title {
  color: var(--hljs-title);
}

#app-mount .hljs-link {
  color: var(--hljs-link);
}

#app-mount .hljs-bullet {
  color: var(--hljs-bullet);
}

#app-mount .hljs-symbol {
  color: var(--hljs-symbol);
}

#app-mount .hljs-addition {
  color: var(--hljs-addition);
}

#app-mount .hljs-deletion {
  color: var(--hljs-deletion);
}

#app-mount .hljs-attr {
  color: var(--hljs-attr);
}

#app-mount .hljs-punctuation {
  color: var(--hljs-punctuation);
}

#app-mount .hljs-regexp {
  color: var(--hljs-regexp);
}

#app-mount .hljs-type {
  color: var(--hljs-type);
}

#app-mount .hljs-selector-id {
  color: var(--hljs-selector-id);
}

#app-mount .hljs-params {
  color: var(--hljs-params);
}

#app-mount .hljs-operator {
  color: var(--hljs-operator);
}

#app-mount .hljs-rest_arg {
  color: var(--hljs-rest_arg);
}

#app-mount .hljs-template-variable {
  color: var(--hljs-template-variable);
}

#app-mount .hljs-comment .hljs-doctag {
  color: var(--hljs-comment-doctag);
}

#app-mount .hljs-params .hljs-attr {
  color: var(--hljs-params-attr);
}

#app-mount .hljs-string .hljs-subst {
  color: var(--hljs-string-subst);
}

#app-mount .hljs-string .hljs-template-variable {
  color: var(--hljs-string-template-variable);
}

#app-mount .hljs-tag .hljs-name {
  color: var(--hljs-tag-name);
}

#app-mount .hljs-tag .hljs-attr {
  color: var(--hljs-tag-attr);
}

#app-mount .hljs-function .hljs-keyword {
  color: var(--hljs-function-keyword);
}

#app-mount .hljs-function .hljs-title {
  color: var(--hljs-function-title);
}

#app-mount .hljs-function .hljs-literal {
  color: var(--hljs-function-literal);
}

#app-mount .hljs-function .hljs-params {
  color: var(--hljs-function-params);
}

#app-mount .hljs-function .hljs-operator {
  color: var(--hljs-function-operator);
}

#app-mount .hljs-class .hljs-keyword {
  color: var(--hljs-class-keyword);
}

#app-mount .hljs-class .hljs-title {
  color: var(--hljs-class-title);
}

/* Haskell Specific Syntax */
#app-mount .hs .hljs-type {
  color: var(--color-7);
}

/* Lua Specific Syntax */
#app-mount .lua .hljs-built_in {
  color: var(--color-7);
}

/* Clang Specific Syntax */
#app-mount .c .hljs-keyword {
  color: var(--color-7);
}
#app-mount .c .hljs-built_in {
  color: var(--color-9);
}
#app-mount .c > .hljs-keyword {
  color: var(--color-10);
}

/* CSS Specific Syntax */
#app-mount .css .hljs-built_in {
  color: var(--color-5);
}

/* Rust Specific Syntax */
#app-mount .rust .hljs-built_in {
  color: var(--color-7);
}

/* PHP Specific Syntax */
#app-mount .php .hljs-variable {
  color: var(--color-10);
}
